{% extends "layout.html" %}
{%block content %}
    <!-- Table for Perishables -->
    <div class = "jumbotron fixed-bottom">
    <center><h1>Perishables</h1></center>
    <table style="width:66%" border="1" align="center">
        <tr>
          <th>Package Number</th>
          <th>Date Arrived</th>
          <th>DR</th>
          <th>Recipient</th>
          <th>Room #</th>
          <th># of Perishables</th>
          <th>Descrption</th>
        </tr>
      </table> 
      </div>


  
{% endblock %}

