body {
	background: #fafafa;
	color: #333333;
	margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #444444;
}

.bg-steel {
	background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
	color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}

.article-title {
	color: #444444;
}

a.article-title:hover {
	color: #428bca;
	text-decoration: none;
}

.article-content {
	white-space: pre-line;
}

.article-img {
	height: 65px;
	width: 65px;
	margin-right: 16px;
}

.article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
	color: #333;
	text-decoration: none;
}

.article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.account-heading {
	font-size: 2.5rem;
}

.working-hall {
	color: white;
	position: absolute;
	right: 47%;
	bottom: 7px;
}

.fixed-header {
	max-height: 385px;
	overflow-y: auto;
}

.fixed-header thead th {
	position: sticky;
	top: 0;
	background: #fafafa;
	z-index: 1;
}

.perishables {
	padding-top: 50px;
}

.card.management {
	margin: 20px;
	padding: 30px;
}

.halls {
	padding: 30px;
}

.halls p {
	margin: 8px;
}

.trash {
	color: #c82333;
	padding-bottom: 20px;
	padding-left: 20px;
}

.dropAreaHover {
	color: rgb(251, 8, 8);
}

.unsubscribed-img {
	border: 0;
	width: 60%;
	height: 22%;
	padding-bottom: 50px;
}

.red-button {
	background: #d92929;
	color: white;
	margin-top: 20px;
}

/* custom checkbox */

/* Customize the label */
.checkbox-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 5px;
	left: 20px;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
	background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.table-borderless td {
	border: 0;
}

.center-picture {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.flash_message_position {
	position: fixed;
	top: 75px;
	right: 15px;
}
