{% extends "layout_with_navbar.html" %}
{%block content %}
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="card" style="width:500px; margin:0 auto;">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    {% if form.student_id.errors %}
                        {{ form.student_id(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.student_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.student_id(class="form-control form-control-md", placeholder='Search for Student') }}
                    {% endif %}
                </div>
                <div class="col-3">
                    {{ form.submit(class="btn btn-success") }}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}