{% extends "layout_with_navbar.html" %}
{%block content %}

<form action="" method="POST" onsubmit="parseCardSwipe()">
    {{ student_search_form.hidden_tag() }}
    <div class="card" style="width:500px; margin:0 auto;">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    {{ student_search_form.student_id(class="form-control form-control-md", placeholder='Search for Student') }}
                    <div id='search-error' class="invalid-feedback" style='display:none;'>
                        <span></span>
                    </div>
                </div>
                <div class="col-3">
                    {{ student_search_form.submit(class="btn btn-success") }}
                </div>
            </div>
        </div>
    </div>
</form>

{% if perishables %}
<form id=pickup_form>
    <div class="perishables">
        <h2 class=text-center>Perishables</h2>
        <div class='fixed-header'>
            <table id="packagesTable" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Package&nbsp;#</th>
                        <th>Name</th>
                        <th>Room</th>
                        <th>Description</th>
                        <th id="deliveryDateLabel">Delivered</th>
                        <th>Phone Number</th>
                        <th>Pick&nbsp;Up</th>
                    </tr>
                </thead>
                <tbody>
                    {% for perishable in perishables %}
                        <tr class="table-danger" data-status="{{ perishable.status }}">
                            <td>{{ perishable.id }}</td>
                            <td>{{ perishable.owner.first_name }} {{ perishable.owner.last_name }}</td>
                            <td>{{ perishable.owner.room_number }}</td>
                            <td>{{ perishable.description }}</td>
                            <td>{{ perishable.delivery_date.strftime('%m-%d-%Y') }}</td>
                            <td class="phone_number">{{ perishable.phone.phone_number }}</td>
                            <td>
                                <label class="checkbox-container">
                                    {{ package_pickup_form.pick_up(class="form-control form-control-md", value=perishable.id) }}
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Pickup Package Modal -->
    <div id="pickupPackageModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Pickup Package</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Please enter student ID to confirm pickup</p>
                    {{ package_pickup_form.student_id_confirm(class="form-control form-control-md", placeholder="Student ID") }}
                    <div id='errorDiv' class="invalid-feedback" style='display:none;'>
                        <span id='errorAlert'></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{ package_pickup_form.confirm(class="btn btn-success") }}
                </div>
            </div>
        </div>
    </div>
    <!-- End Pickup Package Modal -->
</form>

<script>
document.getElementById("student_id_confirm").addEventListener("change", cardReader2); 
function cardReader2(){
    var card_data = document.getElementById("student_id_confirm").value;
    var details = card_data.split("^");
    var card_number = details[0];
    var regular = /[0-9]{9}|([a-zA-Z]+){3,}/g;
    var found = card_number.match(regular);
    if (found){
        document.getElementById("student_id_confirm").value = found;
    }
}
</script>
{% endif %}

<script>
// add styling to phone number
$('.phone_number').text(function(i, text) {
    return text.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
});

// display pick up package modal when a checkbox is checked
$('input[name="pick_up"]').click(function(){
    $('#pickupPackageModal').modal('show');
});

// focus on pickup modal when it loads
$('#pickupPackageModal').on('shown.bs.modal', function() {
    $('#student_id_confirm').focus();
});

// if pick up package modal disappears uncheck the checkbox
$('#pickupPackageModal').on('hide.bs.modal', function (e) {
    $('input[name="pick_up"]').prop('checked', false); 
});


// post package pickup through ajax
$('#pickup_form').submit(function (e) {
    var url = "{{ url_for('packages._pickup_package') }}"; // send the form data here.
    $.ajax({
        type: "POST",
        url: url,
        data: $('#pickup_form').serialize(), // serializes the form's elements.
    })
    .done(function(data){
        if (data.error) {
            $('#student_id_confirm').addClass('is-invalid');
            $('#errorDiv').show();
            $('#errorAlert').text(data.error);
        } else {
            window.location.href = '/';
        }
    });
    e.preventDefault(); // block the traditional submission of the form.
});

// Inject our CSRF token into our AJAX request.
var csrf_token = "{{ csrf_token() }}";

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
        }
    }
});

function parseCardSwipe(){
    var card_data = document.getElementById("student_id").value;
    var details = card_data.split("^");
    var card_number = details[0];
    // var regular = /[0-9]{9}/g;
    var regular = /[0-9]{9}|([a-zA-Z]+){3,}/g;
    var found = card_number.match(regular);
    document.getElementById("student_id").value = found;
}
</script>

<!-- Jquery for Search Box -->
<script>
allow_submit = true;

// validate student ID entered
$('#student_id').focusout(function(e) {
	var url = "{{ url_for('packages._search_student') }}"; // send the form data here.
	$.ajax({
		type  : 'POST',
		url   : url,
		data  : { student_id: $('#student_id').val() },
		error : function() {
			alert('error making request');
		}
	}).done(function(data) {
		if (data.error) {
			$('#student_id').addClass('is-invalid');
			$('#search-error').show();
			$('#search-error span').text(data.error);
			allow_submit = false;
		}
		else {
			allow_submit = true;
			$('#student_id').removeClass('is-invalid');
			$('#search-error').hide();
		}
	});
	e.preventDefault(); // block the traditional submission of the form.
});

$('#submit').click(function(e) {
	// make sure the user entered something in the search bar
	if ($('#student_id').val() == '') {
		$('#student_id').addClass('is-invalid');
		$('#search-error span').text('Please enter a student ID');
		$('#search-error').show();
		$('#student_id').focus();
		e.preventDefault(e);
	}
	// this will be false if the id they entered does not belong to a student
	if (!allow_submit) {
		$('#student_id').focus();
		e.preventDefault(e);
	}
});

// autocomplete for search bar
$('[name="student_id"]').focus(function() {
	$(this).autocomplete({
		source    : function(request, response) {
			$.ajax({
				url     : "{{ url_for('packages.suggestions') }}",
				data    : {
					search_bar : request.term
				},
				success : function(data) {
					response(data);
				}
			});
		},
		// only make request if two characters have been typed in
		minLength : 3
	});
});
$("#student_id").focus();
</script>

{% endblock %}