{% extends "layout_with_navbar.html" %}
{%block content %}
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });
    </script>
</head>

<body>
{% if current_user.is_admin() %}
    <div class="card management">
		<h2>Roster Upload</h2>            
		<div>
			<a href="#uploadModal" class="btn btn-success" data-toggle="modal"><i
				class="material-icons">&#xE147;</i> <span>Add New Roster</span>
			</a>
		</div>
	</div>
	<div class="card management">
		<form>
			<h2>Manage Halls</h2>
			<div name='remove-hall-error' class="invalid-feedback" style='display:none;'>
				<span name='remove-hall-error'></span>
			</div>
			<a href="#addHallModal" class="btn btn-success" data-toggle="modal">
				<i class="material-icons">&#xE147;</i><span>Add New Hall</span>
			</a>
			<div class="btn edit mt-3 trash" name="deleteHall">
				<i class="fas fa-trash-alt fa-2x"></i>
			</div>
			<div class="halls">
				<div id="hallList">
				{% for hall in halls %}
					<p class="btn btn-outline-dark" id="{{ hall.id }}">{{ hall.name }}</p>
				{% endfor %}
				</div>
			</div>
		</form>
	</div>
{% endif %}
	<div class="card management">
		<form action="{{ url_for('employees.delete_employee') }}" method="POST">
			{{ form.hidden_tag() }}
			<h2>Manage Employees</h2>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<div class="btn-toolbar float-right">
							<td colspan="7">
								<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i
										class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>
								<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i
										class="material-icons">&#xE15C;</i> <span>Remove Employee</span></a>
							</td>
						</div>
					</tr>
					<tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll" />
								<label for="selectAll"></label>
							</span>
						</th>
						<th>Email</th>
						<th>Name</th>
						<th>Role</th>
						<th>Working Hall</th>
					</tr>
				</thead>
				{% for employee in employees %}
					<tr>
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" name="del_employees" value="{{ employee.id }}" />
							</span>
						</td>
						<td>{{ employee.email }}</td>
						<td>{{ employee.first_name }} {{ employee.last_name }}</td>
						<td>{{ employee.access }}</td>
						<td>{{ employee.hall.name }}</td>
					</tr>
				{% endfor %}
			</table>
		
			<!-- Delete Employee Modal-->
			<div id="deleteEmployeeModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Delete Employee</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						</div>
						<div class="modal-body">
							<p>Are you sure you want to delete these Empoyees?</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<input type="submit" class="btn btn-danger" value="Delete">
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<!-- Add Hall Modal -->
	<form action="" method="POST">
		{{ new_hall_form.hidden_tag() }}
		<fieldset class="form-group">
			<div id="addHallModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Add Hall</h4>
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								{{ new_hall_form.hall.label(class="form-control-label") }}
								{{ new_hall_form.hall(class="form-control form-control-md") }}
								<div name='hall-error' class="invalid-feedback" style='display:none;'>
									<span name='hall-error'></span>
								</div>
							</div>
							<div class="form-group">
								{{ new_hall_form.building_code.label(class="form-control-label") }}
								{{ new_hall_form.building_code(class="form-control form-control-md") }}
								<div name='bcode-error' class="invalid-feedback" style='display:none;'>
									<span name='bcode-error'></span>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div name='fix-error' class="invalid-feedback" style='display:none;'>
								<span name='fix-error'></span>
							</div>
							{{ new_hall_form.submit(class="btn btn-default btn-success") }}
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
	<!-- End Add Hall Modal -->

	<!-- Add Employee Modal-->
	<form action="" method="POST">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<div id="addEmployeeModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Add Employee</h4>
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								{{ form.email.label(class="form-control-label") }}
								{{ form.email(class="form-control form-control-md") }}
								<div name='email-error' class="invalid-feedback" style='display:none;'>
									<span name='email-error'></span>
								</div>
							</div>
							<div class="form-group">
								{{ form.firstName.label(class="form-control-label") }}
								{{ form.firstName(class="form-control form-control-md") }}
							</div>
							<div class="form-group">
								{{ form.lastName.label(class="form-control-label") }}
								{{ form.lastName(class="form-control form-control-md") }}
							</div>
							{% if current_user.is_admin() %}
								<div class="form-group">
									{{ form.role.label(class="form-control-label") }}
									{{ form.role(class="form-control form-control-md") }}
								</div>
							{% endif %}	
							<div class="form-group">
								{{ form.hall.label(class="form-control-label") }}
								{{ form.hall(class="form-control form-control-md") }}
							</div>
						</div>
						<div class="modal-footer">
							<div name='fix-error' class="invalid-feedback" style='display:none;'>
								<span name='fix-error'></span>
							</div>
							{{ form.submit(class="btn btn-default btn-success") }}
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</form>

	<!-- upload csv Modal -->
	<form id=upload_csv_form method="post" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<div id="uploadModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Upload Roster</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p>Upload students csv file</p>
						<input name="file" type="file">
					</div>
					<div class="modal-footer">
						<div style="padding-left: 10px;" name='csv-error' class="invalid-feedback" style='display:none;'>
							<span name='csv-error'></span>
						</div>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<input name="upload_csv" type="submit" class="btn btn-success" value="Upload">
					</div>
				</div>
			</div>
		</div>
	</form>

	<!-- upload report modal -->
	<div id="uploadReportModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Upload Report</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div id="report_data"></div>
					<div id="update_errors" style='display:none;'>
						<p>A few students were not able to be uploaded.</p>
						<p>A list of all the failed students is available for download below.</p>
					</div>
					<div name="no_upload_errors" style='display:none;'>
						<p>All students were successfully uploaded!</p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<input style='display:none;' name="download-csv" onclick="download_csv()" type="submit" class="btn btn-success" value="Download">
				</div>
			</div>
		</div>
	</div>
</body>

<script>
$(document).ready(function() {
    error = '';
    // validate email entered
    $(document).on('focusout','[name="email"]', function(e) {
        var url = "{{ url_for('employees._validate') }}"; // send the form data here.
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                email: $('[name="email"]').val()
                }
        }).done(function(data) {
            if (data.error) {
                error = 'Fix errors before submitting'; // assign error to global variable
                $('[name="email"]').addClass('is-invalid');
                $('div[name="email-error"]').show();
                $('span[name="email-error"]').text(data.error);
            }
            else {
                error = '';
                $('[name="email"]').removeClass('is-invalid');
                $('div[name="email-error"]').next().hide();
            }
        });
        e.preventDefault(); // block the traditional submission of the form.
    });

	// validate hall name entered
    $(document).on('focusout','[name="hall"]', function(e) {
        var url = "{{ url_for('employees._validate') }}"; // send the form data here.
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                hall: $('[name="hall"]').val()
                }
        }).done(function(data) {
            if (data.hall_error) {
                error = 'Fix errors before submitting'; // assign error to global variable
                $('[name="hall"]').addClass('is-invalid');
                $('div[name="hall-error"]').show();
                $('span[name="hall-error"]').text(data.hall_error);
            }
            else {
                error = '';
                $('[name="hall"]').removeClass('is-invalid');
                $('div[name="hall-error"]').hide();
            }
        });
        e.preventDefault(); // block the traditional submission of the form.
    });

	// validate building code entered
    $(document).on('focusout','[name="building_code"]', function(e) {
        var url = "{{ url_for('employees._validate') }}"; // send the form data here.
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                building_code: $('[name="building_code"]').val()
                }
        }).done(function(data) {
            if (data.bcode_error) {
                error = 'Fix errors before submitting'; // assign error to global variable
                $('[name="building_code"]').addClass('is-invalid');
                $('div[name="bcode-error"]').show();
                $('span[name="bcode-error"]').text(data.bcode_error);
            }
            else {
                error = '';
                $('[name="building_code"]').removeClass('is-invalid');
                $('div[name="bcode-error"]').hide();
            }
        });
        e.preventDefault(); // block the traditional submission of the form.
    });

    // dont allow submit if there are errors
    $('#submit').on('click', function(e) {
        if (error) {
            $('div[name="fix-error"]').show()
            $('div[name="fix-error"]').text(error)
            e.preventDefault(e);
        }
    });

	// upload csv
    $('#upload_csv_form').submit(function(e) {
        var url = "{{ url_for('employees.upload_csv') }}"; // send the form data here.
		var form_data = new FormData($('#upload_csv_form')[0]);

        $.ajax({
            type: 'POST',
            url: url,
            data: form_data,
			contentType: false,
            cache: false,
            processData: false,
        }).done(function(data) {
            if (data.error) {
                $('div[name="csv-error"]').show();
                $('span[name="csv-error"]').text(data.error);
            }
            else {
                $('div[name="csv-error"]').next().hide();
				$('#uploadModal').modal('hide');
				$('#uploadReportModal').modal('show');
				$('#report_data').empty();
				if (data.new_student_count != "0") {
					$("<p><strong>New Students: </strong>" + data.new_student_count + "</p>").appendTo('#report_data');
				}
				if (data.hall_update_count != "0") {
					$("<p><strong>Updated Halls: </strong>" + data.hall_update_count + "</p>").appendTo('#report_data');	
				}
				if (data.room_update_count != "0") {
					$("<p><strong>Updated Rooms: </strong>" + data.room_update_count + "</p>").appendTo('#report_data');	
				}
				if (data.new_employee_count != "0") {
					$("<p><strong>New Employees: </strong>" + data.new_employee_count + "</p>").appendTo('#report_data');	
				}
				if (data.removed_employee_count != "0") {
					$("<p><strong>Removed Employees: </strong>" + data.removed_employee_count + "</p>").appendTo('#report_data');	
				}
				if (data.error_count != "0") {
					$("<p><strong>Errors: </strong>" + data.error_count + "</p>").appendTo('#report_data');	
				}

				if (data.error_count == "0") {
					$('#update_errors').hide();
					$('[name="download-csv"]').hide();
					$('[name="no_upload_errors"]').show();
				} else {
					$('[name="no_upload_errors"]').hide();
					$('#update_errors').show();
					$('[name="download-csv"]').show();
					error_values = data.error_values
					error_columns = data.error_columns
				}
            }
        });
        e.preventDefault(); // block the traditional submission of the form.
    });

    // Inject our CSRF token into our AJAX request.
    var csrf_token = '{{ csrf_token() }}';
    $.ajaxSetup({
        beforeSend : function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader('X-CSRFToken', csrf_token);
            }
        }
    });

	// drag and drop feature to remove halls 
	$("#hallList").sortable({
		connectWith: "[name='deleteHall']",
		update: function(event, ui) {
			//Run this code whenever an item is dragged and dropped out of this list
			var order = $(this).sortable('serialize');
		},
		helper: 'clone'
	});

	$("[name='deleteHall']").droppable({
		accept: '#hallList > p',
    	hoverClass: 'dropAreaHover',
		drop: function(event, p) {
			// if hall is dropped in trashcan send the halls id to the server and delete it 
			var url = "{{ url_for('employees.remove_hall') }}"; // send the form data here.
			$.ajax({
				type: 'POST',
				url: url,
				data: {
					hall_id: $(p.draggable).attr('id')
					}
			}).done(function(data) {
				if (data.success) {
					$(p.draggable).remove();
				} else if (data.error){
	                $("span[name='remove-hall-error']").text(data.error);
					$("div[name='remove-hall-error']").show();
				}
			});
		}
	});
});

function download_csv() {
	var csv = error_columns + '\n';
	error_values.forEach(function(row) {
			csv += row.join(',');
			csv += "\n";
    });
 
    var hiddenElement = document.createElement('a');
    hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
    hiddenElement.target = '_blank';
    hiddenElement.download = 'errors.csv';
    hiddenElement.click();
}
</script>
{% endblock %}