{% extends "layout_without_navbar.html" %}
{% block content %}
        <p>{{ student.first_name }},</p>
        {% if num_packages > 1 %}
            <p>You have {{ num_packages }} packages 
        {% else %}
            <p>You have {{ num_packages }} package 
        {% endif %}

        ready to be picked up at the {{ student.hall.name }} front desk.
        </p>

        <img class="unsubscribed-img" src="{{ url_for('static', filename='logo-dark.png', _external=True) }}" alt="Mail Alert">
        

        <p style="font-size: 12px;">No longer want to receive package alerts? 
            <a style="text-decoration: none;" href="{{ url_for('packages.subscription', student_email=student.email, _external=True) }}">Unsubscribe Here</a>
        </p>
        
        
        
{% endblock content %}