{% extends "layout_with_navbar.html" %}
{%block content %}
<form action="" method="POST" id='newpackageform'>
    {{ form.hidden_tag() }}
    <table id="packageTable" class="table order-list table-borderless" style="table-layout: fixed;">
        <thead style="text-align: center;">
            <tr>
                <td style="width: 70px"></td> <!-- package number -->
                <td style="width: 250px">Name</td>
                <td style="width: 150px">Room</td>
                <td style="width: 300px">Package Description</td>
                <td style="width: 150px">Perishable</td>
                <td style="width: 210px;" name="phone-label">Phone</td>
                <td style="width: 45px"></td> <!-- delete row icon --> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><div class="form-control package-number">{{ package_number }}</div></td>
                <td>
                    {{ form.name(class="form-control form-control-md col-12", autocomplete="off") }}
                    <div name='name-error' class="invalid-feedback" style='display:none'>
                        <span name='name-error'></span>
                    </div>
                </td>
                <td>
                    {{ form.room_number(class="form-control form-control-md", autocomplete="off") }}
                    <div name='room-error' class="invalid-feedback" style='display:none;'>
                        <span name='room-error'></span>
                    </div>
                </td>
                <td>
                    {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.description(class="form-control form-control-md") }}
                    {% endif %}
                </td>
                <td>
                    <label class="checkbox-container">
                        <input type="checkbox" name="perishable" value="True">
                        <input type="hidden" name="perishable" value="False">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    {{ form.phone_number(class="form-control form-control-md", disabled=True) }}
                    <div name='phone-error' class="invalid-feedback" style='display:none;'>
                        <span name='phone-error'></span>
                    </div>
                    <input type="hidden" name="current-number">
                </td>
                <td></td> <!-- dont show delete icon on first row -->
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td colspan="3" style="text-align: left;">
                    <input type="button" class="btn btn-md btn-block new-package-grey" id="addrow" value="Add Package" />
                </td>
                <td>
                    <button style="padding:6px 35px" id="submit" type="submit" class="btn btn-success">Submit</button>
                    <div name='fix-error' class="invalid-feedback" style='display:none;'>
                        <span>Fix errors before submitting</span>
                    </div>
                </td>
                <td></td> <!-- empty for delete row icon --> 
            </tr>
        </tfoot>
    </table>
</form>

<fieldset class="form-group">
    <div id="error-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New Phone Number</h4>
                    <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>The phone number entered does not match any of the numbers in our system for this student.</p>
                    <p><strong>Do you want to add this number?</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button name="confirm" type="button" class="btn btn-success" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<script> 
$(document).ready(function() {
    var name_error = 0;
    var room_error = 0;
    var hall_error = 0;
    var phone_error = 0; 
    var current_number_obj;
    var new_number_obj;
    var room_number;
    var name;
    var num_rows = 0;
    var cols = '';
    
    cols += 
        '<td><div name="package_number" class="form-control package-number"></div></td>';
    cols +=
        '<td id="nameField"> \
            {{ form.name(class="form-control form-control-md", autocomplete="off") }} \
            <div name="name-error" class="invalid-feedback" style="display:none;"> \
                <span name="name-error"></span> \
            </div> \
        </td>';
    cols +=
        '<td> \
            {{ form.room_number(class="form-control form-control-md", autocomplete="off") }} \
            <div name="room-error" class="invalid-feedback" style="display:none;"> \
                <span name="room-error"></span> \
            </div> \
        </td>';
    cols +=
        '<td> \
            {% if form.description.errors %} \
                {{ form.description(class="form-control form-control-md is-invalid") }} \
                <div class="invalid-feedback"> \
                    {% for error in form.description.errors %} \
                        <span>{{ error }}</span> \
                    {% endfor %} \
                </div> \
            {% else %} \
                {{ form.description(class="form-control form-control-md") }} \
            {% endif %} \
        </td>';
    cols +=
        '<td> \
            <label class="checkbox-container"> \
                <input type="checkbox" name="perishable" value="True"> \
                <input type="hidden" name="perishable" value="False"> \
                <span class="checkmark"></span> \
            </label> \
        </td>'; 
    cols += 
        '<td> \
            {{ form.phone_number(class="form-control form-control-md", disabled=True) }} \
            <div name="phone-error" class="invalid-feedback" style="display:none;"> \
                <span name="phone-error"></span> \
            </div> \
            <input type="hidden" name="current-number"> \
        </td>'; 
    cols += 
        '<td> \
            <div class="delete-icon ibtnDel"> \
                <img src="{{ url_for("static", filename="times-solid.svg") }}" alt="delete"> \
            </div> \
        </td>';

    $('#addrow').on('keyup', function(event) {
        // if tab key is pressed
        if (event.which == 9) {
            newRow();
        }
    });

    $('#addrow').on('click', function() {
        newRow();
    });

    function newRow() {
        num_rows += 1;
        var newRow = $("<tr>");
        newRow.append(cols);
        $("table.order-list").append(newRow);
        var empTable = document.getElementById("packageTable");
        var trArray = empTable.rows;
        var lastTrElem = trArray[trArray.length - 2];
        var lastTdElem = lastTrElem.firstChild;
        var inputElem = lastTdElem.firstElementChild;
        inputElem.focus();
        getPackageNum();
    }

    // package_number is the next package that will be added to the db
    // for every row, add one to package number
    // these are what the package numbers will be when added to db
    function getPackageNum(){
        var package_number = parseInt("{{ package_number }}");
        $('[name="package_number"]').each(function(){
            package_number += 1;
            $(this).text(package_number);
        });
    }
    
    $('table.order-list').on('click', '.ibtnDel', function(event) {
        $(this).closest('tr').remove();
        // re-evaluate package numbers when a row is deleted
        getPackageNum();

        // when the delete button is pressed check if any of the fields had errors
        // if it did decrement the counter
        // phone_number
        if ($(this).parent().prev().children('input').hasClass('is-invalid')){
            phone_error -= 1;
        // room_number
        } else if ($(this).parent().prev().prev().prev().prev().children('input').hasClass('is-invalid')){
            room_error -= 1;
        // name
        } else if ($(this).parent().prev().prev().prev().prev().prev().children('input').hasClass('is-invalid')){
            name_error -= 1;
        }
        num_rows -= 1;
    });

    // enable/disable phone number input and make required based on if perishable is checked
    $(document).on('click', ':checkbox', function() {
        if ($(this).is(':checked')) {
            // remove hidden perishable input if checked
            $(this).next('input').remove();
            $(this).parent().parent().next().children('input').prop("disabled", false);
            $(this).parent().parent().next().children('input').prop('required',true);
            var phone_number = $(this).parent().parent().next().children().last('input').val();
            $(this).parent().parent().next().children('input').val(phone_number);
            $("[name='phone_number']").inputmask({"mask": "(999) 999-9999"});

        } else {
            $(this).parent().parent().next().children('input').prop('required',false);
            $(this).parent().parent().next().children('input').prop("disabled", true);
            // make phone number input appear empty when package is not a perishable
            $(this).parent().parent().next().children('input:first').val('');
            // add hidden perishable input if unchecked
            $("<input type='hidden' name='perishable' value='False'>").insertAfter(this);
        }
    });

    // validate that student name entered exists
    $(document).on('focusout','[name="name"]', function(e) {
        var url = "{{ url_for('packages._validate') }}"; // send the form data here. 
        $.ajax({
            type: 'POST',
            url: url,
            context: this,
            data: { name: $(this).val() }
        }).done(function(data) {
            // if there is an error for the first time
            if ((data.name_error) && (!$(this).hasClass('is-invalid'))){
                name_error += 1; 
                $(this).addClass('is-invalid');
                $(this).next().show()
                $(this).next().children().text(data.name_error);
                $(this).parent().next().children('div').hide(); // hide room_error
            // if there was an error but it is correct now 
            } else if ((!data.name_error) && ($(this).hasClass('is-invalid'))) {
                name_error -= 1;
                $(this).removeClass('is-invalid');
                $(this).next().hide();
                $(this).parent().next().children('input').removeClass('is-invalid');
                $(this).parent().next().children('div').hide();

                $(this).val(data.name);
                $(this).parent().next().children('input').val(data.room_number);
                $(this).parent().next().next().next().next().children().last('input').val(data.phone_number);
            // if there was never an error
            } else {
                $(this).val(data.name);
                $(this).parent().next().children('input').val(data.room_number);
                $(this).parent().next().next().next().next().children().last('input').val(data.phone_number);
            }
        });
        e.preventDefault(); // block the traditional submission of the form.
    });

    // validate room number entered
    $(document).on('focusout','[name="room_number"]', function(e) {
        var url = "{{ url_for('packages._validate') }}"; // send the form data here.
        $.ajax({
            type: 'POST',
            url: url,
            context: this,
            data: { name: $(this).parent().prev().children('input').val(),
                    room_number: $(this).val()
            }
        }).done(function(data) {
            if (data.name_error) {
                return;
            }
            // if there is an error for the first time
            if ((data.room_error) && (!$(this).hasClass('is-invalid'))) {
                room_error += 1;
                $(this).addClass('is-invalid');
                $(this).next().show();
                $(this).next().children().text(data.room_error);
            // if there was an error but it is correct now             
            } else if ((!data.room_error) && ($(this).hasClass('is-invalid'))){
                room_error -= 1;
                $(this).removeClass('is-invalid');
                $(this).next().hide();
                $(this).parent().next().next().next().children().last('input').val(data.phone_number)
            // if there was never an error 
            } else {
                $(this).parent().next().next().next().children().last('input').val(data.phone_number)
            }
        });
        e.preventDefault(); // block the traditional submission of the form.
    });

    function phone_number_validator(e){
        if(e.which != '13' && e.which != '0'){
            return false;
        }
        
        var url = "{{ url_for('packages._validate') }}"; // send the form data here.
        $.ajax({
            type: 'POST',
            url: url,
            context: this,
            data: { name: $(this).parent().prev().prev().prev().prev().children('input').val(),
                    room_number: $(this).parent().prev().prev().prev().children('input').val(),
                    phone_number: $(this).val() 
                }
        }).done(function(data) {
            // if there is an error for the first time
            if ((data.phone_error) && (!$(this).hasClass('is-invalid'))) {
                phone_error += 1;
                $(this).addClass('is-invalid');
                $(this).next().show();
                $(this).next().children().text(data.phone_error);
            }
            // if the phone number entered does not match number in database
            // show modal and assign the current phone number to a hidden field 
            else if (data.new_number){
                if ((phone_error > 0) && ($(this).hasClass('is-invalid'))) {
                    phone_error -= 1;
                };
                $('#error-modal').modal('show');
                // focus on confirm button after 300 ms of modal show otherwise is wont focus
                setTimeout(()=> {$('[name="confirm"]').focus();}, 300);
                new_number_obj = $(this);
                current_number_obj = $(this).next().next();
                name = $(this).parent().prev().prev().prev().prev().children('input').val()
                room_number = $(this).parent().prev().prev().prev().children('input').val()
                // store the original number incase the student cancels
                $(this).next().next().val(data.current_number)
                $(this).removeClass('is-invalid');
                $(this).next().hide();
            }
            // if there was an error but it is correct now             
            else if ((!data.phone_error) && ($(this).hasClass('is-invalid'))){
                phone_error -= 1;
                $(this).removeClass('is-invalid');
                $(this).next().hide();
            }
        });
        e.preventDefault(); // block the traditional submission of the form.
    }

    // run phone number validate when phone number input losses focus or if enter is clicked
    $(document).on('focusout', '[name="phone_number"]', phone_number_validator);
    $(document).on('keypress', '[name="phone_number"]', phone_number_validator);        

    // if conflicting number is confirmed, send the new number to be saved 
    $('[name="confirm"]').on('click', function(e){
        var url = "{{ url_for('packages._validate') }}"; // send the form data here.
        $.ajax({
            type: 'POST',
            url: url,
            context: this,
            data: { name: name, 
                    room_number: room_number,
                    phone_number: new_number_obj.val(),
                    new_number: 'True'
                },
            success: update_input_number(true)
        });
        e.preventDefault(); // block the traditional submission of the form.
    });

    // if conflicting phone number modal is closed, replace the number entered (new_number_obj)
    // with the number saved in the database (current_number)
    $('#error-modal').on('hidden.bs.modal', function (e) {
        update_input_number(false);
    });

    function update_input_number(submit){
        // if the submit button was clicked
        if (submit == true) {
            var old_number = current_number_obj.val();
            // make the current number the value of new number
            current_number_obj.val(new_number_obj.val());
        } else {
            // if the submit button was not clicked, change the phone number back 
            new_number_obj.val(current_number_obj.val());
        }
    };

    // validate name and room number on submit
    $('#submit').on('click', function(e) {
        if (name_error > 0 || room_error > 0|| phone_error > 0) {
            $('[name="fix-error"]').show();
            e.preventDefault(e);
        }
    });

    // display loader when packages are submitted
    $('#newpackageform').submit(function(){
        $('#submit').html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>Loading...')
        $('#submit').addClass('disabled');
        $('#submit').removeAttr("style");
    });

    // Inject our CSRF token into our AJAX request.
    var csrf_token = '{{ csrf_token() }}';
    $.ajaxSetup({
        beforeSend : function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader('X-CSRFToken', csrf_token);
            }
        }
    });

    // autocomplete for student name
    $(document).on('focus', '[name="name"]', function() {
        $(this).autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "{{ url_for('packages.suggestions') }}",
                    data: {
                        name: request.term
                    },
                    success: function(data) {
                        response(data)
                    }
                });
            },
            // only make request if two characters have been typed in
            minLength: 3,
            // fill in room of student when name is selected
            select: function(event, ui) {
                var label = ui.item.label
                var label = label.split(' ');
                // the last element in the array is the room number
                $(this).parent().next().children('input').val(label[label.length -1]);
            }
        });
    });

    // autocomplete for room number 
    $(document).on('focus', '[name="room_number"]', function() {
        $(this).autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "{{ url_for('packages.suggestions') }}",
                    data: {
                        room_number: request.term
                    },
                    success: function(data) {
                        response(data)
                    },
                });
            },
            // only make request if two characters have been typed in
            minLength: 3,
            // fill in name of student when room is selected 
            select: function(event, ui) {
                var label = ui.item.label
                var name = label.split(' ');
                // at index -1 remove 1 item from arrary
                name.splice(-1,1)
                name = name.join(' ')
                name_field = $(this).parent().prev().children('input');
                name_field.val(name)
                if (name_field.hasClass('is-invalid')){
                    name_error -= 1;
                    name_field.removeClass('is-invalid');
                    name_field.next().hide();
                }

            }
        });
    });

    // focus on name input on page load
    // MUST BE AT BOTTOM OF SCRIPT
    $('[name="name"]').focus();
    // reset all fields on page load
    $('form').each(function() { this.reset() });
});
</script>
{% endblock %}