{% extends "layout_without_navbar.html" %}
{% block content %}
<div class="px-auto" style="width: 500px">
    <div class="content-section">
        <form method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                <div class="form-group">    
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.old_password.label(class="form-control-label") }}
                    {{ form.old_password(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.new_password.label(class="form-control-label") }}
                    {{ form.new_password(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.confirm_new_password.label(class="form-control-label") }}
                    {{ form.confirm_new_password(class="form-control form-control-lg") }}
                    <div name="confirm_password_error" class="invalid-feedback" style="display:none">
                        <span>Passwords do not match</span>
                    </div>
                </div>
                <div name='password-criteria-error' class="invalid-feedback" style='display:none;padding:15px 0px;'>
                    <span>Your new password must contain the following:<br>
                        * At least 8 characters<br>
                        * An uppercase character<br>
                        * A lowercase character<br>
                        * A numeric character<br>
                        * A special character
                    </span>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                <small class="text-muted ml-2">
                    <a href="{{ url_for('employees.reset_request') }}">Forgot Password?</a>
                </small>
            </div>
        </form>
    </div>
</div>
<!-- jquery validation for passwords -->
<script src="{{ url_for('static', filename='passwords.js') }}"></script> 
{% endblock content %}