{% extends "layout_without_navbar.html" %}
{% block content %}
<div class="px-auto" style="width: 500px">
    <div class="content-section">
        <form method="POST" action="" onsubmit="checkPasswordRequirements()">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                <div class="form-group">    
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                <div class="form-group">
                    {{ form.old_password.label(class="form-control-label") }}
                    {% if form.old_password.errors %}
                        {{ form.old_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.old_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.old_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">

                        {{ form.new_password.label(class="form-control-label") }}
                        {{ form.new_password(class="form-control form-control-lg") }}
                        
                        <!-- </div> -->
                    </div>
                <div class="form-group">
                    {{ form.confirm_new_password.label(class="form-control-label") }}
                    {% if form.confirm_new_password.errors %}
                        {{ form.confirm_new_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_new_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_new_password(class="form-control form-control-lg") }}
                    {% endif %}
                    <div name='password-criteria-error' class="invalid-feedback" style='display:none;padding-top:25px;'>
                            <span>Your password must contain the following:<br>
                             * At least 8 characters<br>
                             * A uppercase character<br>
                             * A lowercase character<br>
                             * A numeric character<br>
                             * A special character
                            </span>
                        </div>

                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                <small class="text-muted ml-2">
                    <a href="{{ url_for('employees.reset_request') }}">Forgot Password?</a>
                </small>
            </div>
        </form>
    </div>
</div>


<script>
function checkPasswordRequirements() {
    var passwordResetBox = document.getElementById("new_password").value;
    var regex = /(?=.{8,127})(?=.*?[^\w\s])(?=.*?[0-9])(?=.*?[A-Z])(?!.*\s)(?!.*\")(?!.*\')(?!.*\\)(?!.*\/).*?[a-z].*/g;

    if (regex.test(passwordResetBox)) {
        // Allow form submission if it meets all the regular expression criteria
        var validation = passwordResetBox.match(regex);
        document.getElementById("new_password").value = validation;
    }
    else {
        // Don't allow form submission if it doesn't mean criteria
        event.preventDefault();
        $('div[name="password-criteria-error"]').show();
        //$('span[name="password-criteria-error"]').text("Your password must contain at least 8 characters.\n" + " An uppercase letter\n" + "A lowercase letter\n" 
          //  + "A number\n"+ "A special character.");
    }
}

</script>


{% endblock content %}