{% extends "layout_with_navbar.html" %}
{%block content %}
<form id="search_form" method="POST" onsubmit="search_student_card_swipe()">
    {{ student_search_form.hidden_tag() }}
    <div class="card" style="width:500px; margin:0 auto;">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    {{ student_search_form.student_id(class="form-control form-control-md", placeholder='Search for Student', autocomplete="off") }}
                    <div id='search-error' class="invalid-feedback" style='display:none;'>
                        <span></span>
                    </div>
                </div>
                <div class="col-3">
                    {{ student_search_form.submit(class="btn btn-success") }}
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Filter buttons -->
<h2> 
    <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons"> 
        <label id='active-tab' class="btn btn-success">
            <input style="visibility:hidden" type="radio" name="status" value="Active"> Active
        </label>
        <label id='pickedUp-tab' class="btn btn-danger">
            <input style="visibility:hidden" type="radio" name="status" value="Picked Up"> Picked Up
        </label>
    </div>
</h2> 
<!-- End Filter buttons -->

<div class="row" style="margin-top:50px;">
    <!-- studnt information card -->
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class='form-label-group'>
                    <h5 style="font-weight:bold; text-align:center;">{{ student.first_name }} {{ student.last_name }} </h5>
                    <br>
                    <h6><span style="font-weight:bold">ID:</span> {{ student.student_id }} </h6>
                    <br>
                    <h6><span style="font-weight:bold">Hall:</span> {{ student.hall.name }} </h6>
                    <br>
                    <h6><span style="font-weight:bold">Room:</span> {{ student.room_number }}</h6>
                    <br>
                    <h6><span style="font-weight:bold">Email:</span> {{ student.email }}</h6>
                </div>
            </div>
        </div>
    </div>
    <!-- end student information card -->

    <div class="col-9">
        <form id=pickup_form onsubmit="confirm_student_card_swipe()">
            <!-- packages table -->
            <div class='fixed-header'>
                <table id="packagesTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th id="deliveryDateLabel">Date</th>
                            <th>Time</th>
                            <th>Logged</th>
                            <th>Description</th>
                            <th id="pickUpLabel">Pick&nbsp;Up</th>
                            <th id="date-out-label" style="display:none">Date&nbsp;Out</th>
                            <th id="pickup-time-label" style="display:none">Time&nbsp;Out</th>
                            <th id="logged-out-label" style="display:none">Logged&nbsp;Out</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for package in active_packages %}
                            {% if package.perishable %}
                                <tr class="table-danger" data-status="{{ package.status }}">
                            {% else %}
                                <tr data-status="{{ package.status }}">
                            {% endif %}
                                <td>{{ package.id }}</td>
                                <td>{{ package.delivery_date.strftime('%m-%d-%Y') }}</td>
                                <td>{{ package.delivery_date.strftime('%-I:%M') }}&nbsp;{{ package.delivery_date.strftime('%p') }}</td>
                                <td>{{ package.inputted.first_name }}&nbsp;{{ package.inputted.last_name }}</td>
                                <td>{{ package.description }}</td>
                                <td>
                                    <label class="checkbox-container">
                                        {{ package_pickup_form.pick_up(class="form-control form-control-md", value=package.id) }}
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                            </tr>
                        {% endfor %}

                        {% for package in picked_up_packages %}
                            {% if package.perishable %}
                                <tr class="table-danger" style="display:none;" data-status="{{ package.status }}">
                            {% else %}
                                <tr style="display:none;" data-status="{{ package.status }}">
                            {% endif %}
                            <td>{{ package.id }}</td> 
                            <td>{{ package.delivery_date.strftime("%m-%d-%Y") }}</td> 
                            <td>{{ package.delivery_date.strftime("%-I:%M") }}&nbsp;{{ package.delivery_date.strftime('%p') }}</td>
                            <td>{{ package.inputted.first_name }}&nbsp;{{ package.inputted.last_name }}</td>                            
                            <td>{{ package.description }}</td> 
                            <td>{{ package.picked_up_date.strftime("%m-%d-%Y") }}</td> 
                            <td>{{ package.picked_up_date.strftime("%-I:%M") }}&nbsp;{{ package.picked_up_date.strftime("%p") }}</td> 
                            <td>{{ package.removed.first_name }}&nbsp;{{ package.removed.last_name }}</td>
                        </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- end packages table -->

            <!-- Pickup Package Modal -->
            <div id="pickupPackageModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Pickup Package</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Please enter student ID to confirm pickup</p>
                            {{ package_pickup_form.student_id_confirm(class="form-control form-control-md", placeholder="Student ID") }}
                            <div id='errorDiv' class="invalid-feedback" style='display:none;'>
                                <span id='errorAlert'></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            {{ package_pickup_form.confirm(class="btn btn-success") }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Pickup Package Modal -->
        </form>

        <!-- Pick up button -->
        <div class="col">
            <div class="float-right">
                <a id="pickupBtn" href="#pickupPackageModal" class="btn btn-success" data-toggle="modal"><span>Pick Up</span></a>
            </div>
        </div>
        <!-- End Pick up button -->
    </div>  
</div>

<script type="text/javascript">
// change bootstrap container size
$('main').css("max-width", 1400);

$(document).ready(function () {    
    // Filter buttons based on radio button selected
    $(".btn-group .btn").click(function () {
        var inputValue = $(this).find("input").val();
        var target = $('table tr[data-status="' + inputValue + '"]');
        $("table tbody tr").not(target).hide();
        target.fadeIn();
        // Changing the class of status label to support Bootstrap 4
        var bs = $.fn.tooltip.Constructor.VERSION;
        var str = bs.split(".");
        if (str[0] == 4) {
            $(".label").each(function () {
                var classStr = $(this).attr("class");
                var newClassStr = classStr.replace(/label/g, "badge");
                $(this).removeAttr("class").addClass(newClassStr);
            });
        }
    });
});

// change table label from pick up to picked up based on active or picked up package
$(".btn-group .btn").click(function () {
    var inputValue = $(this).find("input").val();
    if (inputValue == 'Picked Up') {
        $("#date-out-label").show();
        $("#pickup-time-label").show()
        $('#logged-out-label').show()
        $("#active_page_selection").hide()
        $("#picked_up_page_selection").show()
        $("#pickUpLabel").hide();
        $("#pickupBtn").hide();
        $('input[name="pick_up"]').prop("checked", false)
    } else {
        $("#date-out-label").hide();
        $("#pickUpLabel").show();
        $('#logged-out-label').hide()
        $("#pickup-time-label").hide()
        $("#picked_up_page_selection").hide()
        $("#active_page_selection").show()
    }
});

// focus on textbox when modal loads
$('#pickupPackageModal').on('shown.bs.modal', function() {
    $('#student_id_confirm').focus();
});

// toggle "pick up" button on based on if a package is checked
var $pickUp = $("#pickupBtn").hide();
$cbs = $('input[name="pick_up"]').click(function(){
    $pickUp.toggle( $cbs.is(":checked") );
});

// post package pickup through ajax
$('#pickup_form').submit(function (e) {
    var url = "{{ url_for('packages._pickup_package') }}"; // send the form data here.
    $.ajax({
        type: "POST",
        url: url,
        data: $('#pickup_form').serialize(), // serializes the form's elements.
    })
    .done(function(data){
        if (data.error) {
            $('#student_id_confirm').addClass('is-invalid');
            $('#errorDiv').show();
            $('#errorAlert').text(data.error);
        } else {
            window.location.href = '/home/{{ student.student_id }}';
        }
    });
    e.preventDefault(); // block the traditional submission of the form.
});

// Inject our CSRF token into our AJAX request.
var csrf_token = "{{ csrf_token() }}";

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
        }
    }
});

</script>
 
 <!-- Jquery for card reader -->
<script>
document.getElementById("student_id_confirm").addEventListener("change", confirm_student_card_swipe); 

// parse card information for confirmation modal
function confirm_student_card_swipe(){
    var card_data = document.getElementById("student_id_confirm").value;
    var details = card_data.split("^");
    var card_number = details[0];
    var regular = /[0-9]{9}|([a-zA-Z]+){3,}/g;
    var found = card_number.match(regular);
    if (found){
        document.getElementById("student_id_confirm").value = found;
    }
}
// parse card information for student search box
function search_student_card_swipe(){
    var card_data = document.getElementById("student_id").value;
    var details = card_data.split("^");
    var card_number = details[0];
    // var regular = /[0-9]{9}/g;
    var regular = /[0-9]{9}|([a-zA-Z]+){3,}/g;
    var found = card_number.match(regular);
    document.getElementById("student_id").value = found;
}

</script>

<!-- Jquery for Search Box -->
<script>
allow_submit = true;

// validate student ID entered
$('#student_id').focusout(function(e) {
    var url = "{{ url_for('packages._search_student') }}"; // send the form data here.
    $.ajax({
        type  : 'POST',
        url   : url,
        data  : { student_id: $('#student_id').val() },
        error : function() {
            alert('error making request');
        }
    }).done(function(data) {
        if (data.error) {
            $('#student_id').addClass('is-invalid');
            $('#search-error').show();
            $('#search-error span').text(data.error);
            allow_submit = false;
        }
        else {
            allow_submit = true;
            $('#student_id').removeClass('is-invalid');
            $('#search-error').hide();
        }
    });
    e.preventDefault(); // block the traditional submission of the form.
});

$('#submit').click(function(e) {
    // make sure the user entered something in the search bar
    if ($('#student_id').val() == '') {
        $('#student_id').addClass('is-invalid');
        $('#search-error span').text('Please enter a student ID');
        $('#search-error').show();
        $('#student_id').focus();
        e.preventDefault(e);
    }
    // this will be false if the id they entered does not belong to a student
    if (!allow_submit) {
        $('#student_id').focus();
        e.preventDefault(e);
    }
});

// autocomplete for search bar
$('[name="student_id"]').focus(function() {
    $(this).autocomplete({
        source    : function(request, response) {
            $.ajax({
                url     : "{{ url_for('packages.suggestions') }}",
                data    : {
                    search_bar : request.term
                },
                success : function(data) {
                    response(data);
                }
            });
        },
        // only make request if two characters have been typed in
        minLength : 3
    });
});
$("#student_id").focus();
</script>

{% endblock %}