wheel==0.33.4
Flask==1.0.3
Flask-Admin==1.5.3
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
WTForms==2.2.1
pandas==0.25.2
Random-Word==1.0.4
gunicorn==19.9.0
jira==2.0.0
random-password-generator==2.1.0
celery==4.4.0
psycopg2-binary==2.8.4